<!DOCTYPE html>
<head>
   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
   <title>Juan Mendoza's Portfolio</title>
   <meta name="description" content="">  
   <meta name="author" content="">

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="/static/css/style.css"> 

   <!-- script
   ================================================== -->   
	<script src="/static/js/code.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body id ="top">

   <header class ="s-header">
      <nav class="header-nav-wrap">
         <ul class="header-main-nav">
             <li class="current"><a class="smoothscroll" href="#intro" title="intro">Intro</a></li>
             <li><a class="smoothscroll" href="#about" title="about">About</a></li>
             <li><a class="smoothscroll" href="#education" title="education">Education</a></li>
             <li><a class="smoothscroll" href="#projects" title="projects">Projects</a></li>
             <li><a class="smoothscroll" href="#skills" title="skills">Skills</a></li>	
             <li><a class="smoothscroll" href="#contact" title="contact">Contact</a></li>	
         </ul>
   </header>

	<section id = "intro">
      <div class="intro-overlay"></div>
         <div class = "intro-content">
            <div class="row">
               <div class = "col-twelve">
                  <div class="waviy">
                     <span style="--i:1">H</span>
                     <span style="--i:2">E</span>
                     <span style="--i:3">L</span>
                     <span style="--i:4">L</span>
                     <span style="--i:5">O</span>
                     <span style="--i:6">W</span>
                     <span style="--i:7">O</span>
                     <span style="--i:8">R</span>
                     <span style="--i:9">L</span>
                     <span style="--i:10">D</span>
                     <span style="--i:11">!</span>
                  </div>

                  <div class = "container">
                     <h2 class="title">
                        <span class="title-word title-word-1">I'm</span>
                        <span class="title-word title-word-2">Juan</span>
                        <span class="title-word title-word-3">Manuel</span>
                        <span class="title-word title-word-4">Mendoza</span>
                        <span class="title-word title-word-5">Carranza</span>
                     </h2>
                  </div>

                  <p class="intro-position">
                     <span>Aspiring Software Engineer;</span>
                     <span>Computer Science Graduate</span>
                  </p>
               </div>
            </div>
         </div>
         
         <ul class="intro-social">
            <li><a href="https://www.linkedin.com/in/juan-m-4a8762239"><img src="/static/img/linkedin.png"></i></a></li>
            <li><a href="https://www.instagram.com/mjuanmc"><img src="/static/img/instagram.png"></i></a></li>
            <li><a href="https://github.com/mjuanmc"><img src="/static/img/git.png"></i></a></li>
         </ul>
   </section>

   <section id="about">
      <div class="row section-intro">
         <div class="col-twelve">
            <h5>About Me</h5>
            <!--<h1>Summary about me</h1>-->

            <div class="intro-info">
               <img src="/static/img/newme2.jpg">

               <p class="lead">Recently graduated from East Carolina University in May, 2022. Majored in Computer Science, Bachelor of Science.
                  I have a passion for technology and always excited to see what new technologies are out there.
                  In search of a career to fulfill my passion for the computer science field. 
               </p>
            </div>
         </div>
   </div>
   <div class="container-fluid mt-3">
      <div class="row">
         <div class="col p-3">
           <h3>Basic Details</h3>
               <ul class="info-list">
                  <li>
                     <strong>Fullname:</strong>
                     <span>Juan Manuel Mendoza Carranza</span>
                  </li>
                  <li>
                     <strong>Birth Date:</strong>
                     <span>March 15, 1998</span>
                  </li>
                  <li>
                     <strong>Born:</strong>
                     <span>Raleigh, NC</span>
                  </li>
                  <li>
                     <strong>Education:</strong>
                     <span>Bachelor of Science: Computer Science <br>@ East Carolina University</span>
                  </li>
                  <li>
                     <strong>Website:</strong>
                     <span>http://myweb.ecu.edu/student/mendozaj17</span>
                  </li>
                  <li>
                     <strong>Email:</strong>
                     <span>mjuanmc@gmail.com</span>
                  </li>
               </ul>
        </div>

        <div class="col p-3">
           <h3>Background</h3>

           <p class="lead">
              I was born and raised in Raleigh, NC. Attended Knightdale High School of Collaboration and Design in Knightdale, NC. 
              Here is where my interest for technology really sparked when I took my first programming class with Visual Basic along with 
              other computer classes. 
              I graduated from KHSCD in 2017 with a 3.6 GPA unweighed and 4.4 GPA weighted. <br><br> After graduation, I attended East 
              Carolina University in Greenville, NC and majored in Computer Science. I moved to Greenville, NC for my initial years at ECU before Covid-19 impacted
              us all. Shortly after, I relocated back to Raleigh, NC while still attending ECU. While at ECU, I was self-employed for the second half of my time there.
              I graduated East Carolina University with my Bachelors of Science
              in May, 2022. <br><br>
              Moving forward to present time, I am in search of a career to further pursue my passion for computers and technology. I have experience in front-end, back-end, several
              different languages, tools, libraries, and frameworks. Additional information is provided further below. 
           </p>
      </div>
    </div>
   </section>

   <section id="education">

         <div class="row section-intro">
            <div class="col-twelve">
   
               <h5>Formal Education</h5>
               <!--<h1>Educational history and positions held</h1>-->

               <ul class="info-list">
                  <li>
                     <strong>Institution:</strong>
                     <span>East Carolina University</span>
                     <span>Bachelors of Science: Computer Science</span>
                     <span>2017-2022</span>
                  </li>
                  <li>
                     <strong>Institution:</strong>
                     <span>Knightdale High School of Collaborative Design</span>
                     <span>High School Diploma</span>
                     <span>2013-2017</span>
                  </li>
               </ul>

               <h5>Courses Taken</h5>

            </div>   		
         </div>

         <div class="container-fluid mt-3">
            <div class="row">
               <div class="col p-3">
                  <h3>Freshman Courses</h3>
                  <ul class="info-list2">
                     <li>
                        <span>Algorithmic Problem Solving</span>
                     </li>
                     <li>
                        <span>Discrete Structures I</span>
                     </li>
                  </ul>
               </div>
               <div class="col p-3">
                  <h3>Sophomore Courses</h3>
                  <ul class="info-list2">
                     <li>
                        <span>Algorithms and Data Structures </span>
                     </li>
                     <li>
                        <span>Discrete Structures II</span>
                     </li>
                     <li>
                        <span>Digital Logic Design</span>
                     </li>
                     <li>
                        <span>Computational Linear Algebra</span>
                     </li>
                  </ul>
               </div>
               <div class="col p-3">
                  <h3>Junior Courses</h3>
                  <ul class="info-list2">
                     <li>
                        <span>Data Abstraction Object-Oriented Data Structures</span>
                     </li>
                     <li>
                        <span>Operating Systems</span>
                     </li>
                     <li>
                        <span>Computer Networks</span>
                     </li>
                     <li>
                        <span>Design and Analysis of Algorithms</span>
                     </li>
                  </ul>
               </div>
               <div class="col p-3">
                  <h3>Senior Courses</h3>
                  <ul class="info-list2">
                     <li>
                        <span>Machine Learning</span>
                     </li>
                     <li>
                        <span>Mobile Computing</span>
                     </li>
                     <li>
                        <span>Software Engineering I</span>
                     </li>
                     <li>
                        <span>Software Engineering II</span>
                     </li>
                     <li>
                        <span>Principles of Programming Language</span>
                     </li>
                     <li>
                        <span>Web Applications</span>
                     </li>
                     <li>
                        <span>Database Management Systems</span>
                     </li>
                     <li>
                        <span>Cloud Computing</span>
                     </li>
                     <li>
                        <span>Automata, Computability, and Complexity</span>
                     </li>
                     <li>
                        <span>Natural Language Processing</span>
                     </li>
                  </ul>
               </div>
          </div>

   </section>
   
   <section id = "projects">
   <div class="row section-intro">
      <div class="col-twelve">
         <h5>Featured Projects</h5>
      </div>   		
   </div>


   <!--Bootstrap Gallery begins here -->

   <div class ="row2">
      <h2>Pirateflix</h2>
      <h5>Description goes here</h5>
      <div class = "movie_rows">
         <div class = "movies">
            <a href="https://github.com/mjuanmc/Pirateflix"><img src="/static/img/piratetitle.jpg" class = "movie_row" class ="img-fluid"></i></a>
        </div>
          <div class = "movies">
              <img src = "/static/img/pic1.png"  class = "movie_row" class ="img-fluid">
          </div>
          <div class = "movies">
              <img src = "/static/img/pic2.png" class = "movie_row" class ="img-fluid">
          </div>
          <div class = "movies">
              <img src = "/static/img/pic3.png" class = "movie_row" class ="img-fluid">
          </div>
          <div class = "movies">
            <img src = "/static/img/pic4.png" class = "movie_row" class ="img-fluid">
         </div>
         <div class = "movies">
            <img src = "/static/img/pic5.png" class = "movie_row" class ="img-fluid">
         </div>
         <div class = "movies">
            <img src = "/static/img/piratedemo.jpg" class = "movie_row" class ="img-fluid">
         </div>
      </div>
   </div>

   <div class ="row2">
      <h2>Student Life</h2>
      <h5>Description goes here</h5>
      <div class = "movie_rows">
         <div class = "movies">
            <a href="https://gitlab.cs.ecu.edu/csci-4230-spring-2022/section-002/student-life/student-life"><img src="/static/img/studentlifetitle.jpg" class = "movie_row2" class ="img-fluid"></i></a>
        </div>
          <div class = "movies">
              <img src = "/static/img/sl1.png"  class = "movie_row2" class ="img-fluid">
          </div>
          <div class = "movies">
              <img src = "/static/img/sl2.png" class = "movie_row2" class ="img-fluid">
          </div>
          <div class = "movies">
              <img src = "/static/img/sl3.png" class = "movie_row2" class ="img-fluid">
          </div>
          <div class = "movies">
            <img src = "/static/img/sl5.png" class = "movie_row2" class ="img-fluid">
         </div>
         <div class = "movies">
            <img src = "/static/img/sl6.png" class = "movie_row2" class ="img-fluid">
         </div>
         <div class = "movies">
            <img src = "/static/img/studentlifedemo.jpg"  class = "movie_row2" class ="img-fluid">
        </div>
      </div>
   </div>

    <!--Bootstrap Gallery ends here-->
   </section>

   <section id = "skills">

      <div class="row section-intro">
         <div class="col-twelve">
            <h5>My Skills</h5>
         </div>   		
      </div>

      <div class="container-fluid mt-3">
         <div class="row">
            <div class="col p-3">
               <h3>Languages</h3>
            
                  <div class="center">
                     <div class="skillbox">
                         <p>HTML, CSS, XML</p>
                         <p>75%</p>
                         <div class="skill">
                             <div class="skill_level" style="width: 75%"></div>
                         </div>
                     </div>
              
                     <div class="skillbox">
                         <p>Java/Kotlin</p>
                         <p>50%</p>
                         <div class="skill">
                             <div class="skill_level" style="width: 50%"></div>
                         </div>
                     </div>
              
                     <div class="skillbox">
                         <p>JavaScript, Python, SQL</p>
                         <p>40%</p>
                         <div class="skill">
                             <div class="skill_level" style="width: 40%"></div>
                         </div>
                     </div>
              
                     <div class="skillbox">
                         <p>C/C++, LaTeX</p>
                         <p>30%</p>
                         <div class="skill">
                             <div class="skill_level" style="width: 30%"></div>
                         </div>
                     </div>
                  </div>
            </div>
            <div class="col p-3">
               <h3>Environments</h3>

               <div class="center">
                  <div class="skillbox2">
                      <p>Visual Studio</p>
                      <p>90%</p>
                      <div class="skill2">
                          <div class="skill_level2" style="width: 90%"></div>
                      </div>
                  </div>
           
                  <div class="skillbox2">
                      <p>Android Studio</p>
                      <p>85%</p>
                      <div class="skill2">
                          <div class="skill_level2" style="width: 85%"></div>
                      </div>
                  </div>
           
                  <div class="skillbox2">
                      <p>PyCharm</p>
                      <p>80%</p>
                      <div class="skill2">
                          <div class="skill_level2" style="width: 80%"></div>
                      </div>
                  </div>
           
                  <div class="skillbox2">
                      <p>Eclipse</p>
                      <p>70%</p>
                      <div class="skill2">
                          <div class="skill_level2" style="width: 70%"></div>
                      </div>
                  </div>
               </div>
            </div>
            <div class="col p-3">
               <h3>Tools</h3>

               <div class="center">
                  <div class="skillbox3">
                      <p>GitHub/GitLab/Git</p>
                      <p>80%</p>
                      <div class="skill3">
                          <div class="skill_level3" style="width: 80%"></div>
                      </div>
                  </div>
           
                  <div class="skillbox3">
                      <p>Firebase</p>
                      <p>75%</p>
                      <div class="skill3">
                          <div class="skill_level3" style="width: 75%"></div>
                      </div>
                  </div>
           
                  <div class="skillbox3">
                      <p>Linux/Ubuntu</p>
                      <p>60%</p>
                      <div class="skill3">
                          <div class="skill_level3" style="width: 60%"></div>
                      </div>
                  </div>
           
                  <div class="skillbox3">
                      <p>JUnit, Postman</p>
                      <p>50%</p>
                      <div class="skill3">
                          <div class="skill_level3" style="width: 50%"></div>
                      </div>
                  </div>

               </div>
                
            </div>
       </div>

       <div class="container-fluid mt-3">
         <div class="row">
            <div class="col p-3">
               <h3>Other</h3>
               <ul class="info-list2">
                  <li>
                     <span>Confluence Atlassian</span>
                  </li>
                  <li>
                     <span>Hypertext Transfer Protocol</span>
                  </li>
                  <li>
                     <span>Docker</span>
                  </li>
                  <li>
                     <span>Google Cloud Platform</span>
                  </li>
                  <li>
                     <span>Jupyter</span>
                  </li>
                  <li>
                     <span>Anaconda</span>
                  </li>
                  <li>
                     <span>Flask</span>
                  </li>
                  <li>
                     <span>SQLAlchemy</span>
                  </li>
               </ul>
            </div>

            <div class="col p-3">
               <h3>Soft Skills</h3>
               <ul class="info-list2">
                  <li>
                     <span>Creative problem solver</span>
                  </li>
                  <li>
                     <span>Curious and always eager to learn</span>
                  </li>
                  <li>
                     <span>Takes authority when necessary</span>
                  </li>
                  <li>
                     <span>Able and delighed to adapt to constant change</span>
                  </li>
                  <li>
                     <span>Communicate effectively within a team</span>
                  </li>
                  <li>
                     <span>Pays close attention to detail</span>
                  </li>
                  <li>
                     <span>Always maintaining a positive attitude</span>
                  </li>
                  <li>
                     <span>Team player</span>
                  </li>
               </ul>
            </div>


   </section>

   <section id = "contact">
      <div class="row section-intro">
         <div class="col-twelve">
            <h5>Contact Me</h5>
         </div>   		
      </div>

      <div class="container p-5 my-5 bg-dark text-white">
         <h5>Thank you for taking the time to visit my website portfolio. If you have any questions or comments,
            or would simply like to connect with me, don't hesistate to reach out.
         </h5>
      </div>
   
   </section>

</body>